* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  user-select: none;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  overflow: auto;
  margin: 0;
  width: 100vw;
  background-color: #4cbdff;
}

div.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3, a, p, header {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h1 {
  font-size: 28px;
}

header {
  padding: 10px 14px;
  position: absolute;
  top: 0;
  right: 0;
}

h1, h2, h3, button {
  font-family: 'Comfortaa', cursive;
  text-align: center;
}

button {
  text-decoration: none;
  border: none;
  background-color: #ff723a;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
}

div.project div.row {
  height: 89px;
  position: relative;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0);
}

div.project div.row h2 {
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.editmode div.project div.row h2 {
  transform: translateX(-89px);
}

/*delete button*/
div.project div.row button {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: red;
  transition: width 0.3s;
  position: absolute;
  height: 100%;
  right: 0;

  width: 0;
}

.editmode div.project div.row button {
  width: 89px;
}

div#projects {
  width: 100vw;
  margin-top: 40px;
}

div.project {
  width: 100vw;
  height: 89px;
  overflow: hidden;
  transition: height 0.3s;
}

div.project div {
  display: flex;
  flex-direction: column;
  transition: height 0.3s;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100vw;
}

div.project div.activity {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0);
  transition: transform 0.2s;
}

.editmode div.project div.activity {
  transform: translateX(-72px);
}

/*The bullet*/
div.project div.activity div {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.15s;
  border: 1px solid #fff;
  border-radius: 100%;
  margin: 19px 30px;
  flex-shrink: 0;
}

/*The completion line*/
div.project div.activity div div {
  border-radius: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 37px;
  height: 0;
  background-color: #fff;
  width: 7px;
  border: none;
}

/*The delete button*/
div.project div.activity button {
  align-self: center;
  position: absolute;
  right: 0;
  top: 35px;
  width: 0;
  padding: 10px 0;
  transition: 0.2s;

  transform: translateX(72px);
}

.editmode div.project div.activity button {
  width: 79px;
  padding: 10px;
}

div.project div.activity h3 {
  margin-right: 30px;
  text-align: left;
}

div.project div input {
  margin: 5px;
  padding: 13.5px;
  border: none;
  border-radius: 3px;
}

div.project div button {
  margin: 5px;
}
