html {
  user-select: none;
}

body {
  margin: 0;
  width: 100vw;
  background-color: #4cbdff;
}

div.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1, h2, h3, a, p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h1, h2, h3, button {
  font-family: 'Comfortaa', cursive;
}

button {
  text-decoration: none;
  border: none;
  background-color: #ff723a;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 3px;
}

div#projects {
  width: 100vw;
  margin-top: 40px;
}

div.project {
  width: 100vw;
  /*height: 60px;*/
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
}

div.project div {
  display: flex;
  flex-direction: column;
  transition: up 300ms linear;
}

div.project div button {
  margin: 5px;
}

div.project h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
  width: 100vw;
}
